$table-header-background-color: rgb(132, 220, 250);
$table-body-background-color: rgb(173, 216, 230);

table,
th,
td,
thead,
tbody {
  box-sizing: border-box;
  min-width: 4rem;
  border: 1px solid grey;
  border-collapse: collapse;
}

.table {
  width: 75%;
  border-radius: 0.25rem;
}

.table-header {
  background-color: $table-header-background-color;
}

.table-header-cell:first-child {
  min-width: 4rem;
}

.table-body {
  background-color: $table-body-background-color;
}

.user-status {
  cursor: pointer;
}
